body{
    background-color: #394755;
}

.card{
    padding: 0;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
    background-color: #fff;
    color: #000;
}

.allProducts {
    color: #fff;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 28px;
}

.card-header{
    background-color: #007bff;
    color: #fff;
}

.card:hover{
    transform: scale(1.05);
}

.imageContent {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
}

.card-footer{
    height: max-content;
    display: flex;
    justify-content: center;
    color: #fff;
    background-color: #007bff;
}

.id{
    font-size: smaller;
}

.titleRealTimeContent{
    margin: 24px 0;
}

.titleRealTime{
    width: max-content;
    color: #fff;
    margin: 0 auto;
    margin-top: 12px;
}

.chatTitle{
    width: max-content;
    margin: 0 auto;
    color: #fff;
}

.chatContainer{
    width: 500px;
    height: 400px;
    margin: 18px auto;
    background-color: beige;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-size: medium;
    overflow-y: scroll;
}

.chatInsertContainer{
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.chatUser{
    width: 380px;
    height: 36px;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background-color: beige;
}

.chatUser:focus{
    background-color: #fff;
}

.chatMessage{
    width: 380px;
    height: 36px;
    margin-top: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    background-color: beige;
    overflow-y: auto;
    white-space: pre-wrap;
    outline: none;
}

.chatMessage:focus{
    background-color: #fff;
}

.chatButton{
    width: 70px;
    height: 36px;
    margin: 12px auto ;
    border-radius: 8px;
    background-color: chocolate;
    color: #fff;
}

.chatButton:active{
    background-color: rgb(224, 152, 101);
    color: #000;
}

.message{
    border: 1px solid black;
    padding: 0 0 0 12px;
    width: max-content;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #77a066;
    display: flex;
}

.message strong{
    width: max-content;
    height: max-content;
}

.message p{
    margin: 0 0 0 18px;
    max-width: 250px;
    height: max-content;
    margin-bottom: 4px;
    font-size: medium;
}

.deleteContainer{
    padding-left: 8px;
}

.buttonDelete{
    margin: 12px;
    font-size: 12px;
    width: max-content;
    height: max-content;
    border: none;
    border-radius: 300px;
    background-color: rgba(255, 255, 255, 0);
}

.buttonDelete:active{
    border: 1px solid black;
}

.filtersContainer {
    border: 1px #fff solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
    padding: 8px;
}

.limitOptions {
    display: flex;
    flex-direction: row;
    width: max-content;
}

.limitOptions p{
    margin: 0;
    display: flex;
    align-items: center;
    color: #fff;
}

.titleOption {
    padding: 12px 10px 12px 20px;
    font-size: 24px;
}

.optionContainer {
    display: flex;
    flex-direction: row;
    margin-right: 28px;
}

.option {
    display: flex;
    flex-direction: row;
}

.option p{
    margin-left: 20px;
    margin-right: 4px;
}

.option button{
    height: max-content;
    margin-top: 20px;
    margin-left: 12px;
    background-color: #4777be;
    color: #fff;
}

.priceOrder {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.priceOrder p {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    color: #fff;
}

.titleDirection {
    display: flex;
    justify-content: center;
}

.directionContainer {
    margin-top: 12px;
}

.optionDirection button{
    height: max-content;
    margin-left: 12px;
    background-color: #4777be;
    color: #fff;
}

.directionContainer div{
    display: flex;
    
}

.querysOrder {
    display: flex;
    flex-direction: column;
    padding: 8px 24px;
    width: max-content;
}

.querysOrder p{
    display: flex;
    align-items: center;
    margin: 0;
    color: #fff;
    margin-right: 12px;
}

.queryTitle{
    display: flex;
    justify-content: center;
}

.queryOptions{
    display: flex;
    flex-wrap: wrap;
}

.pages p{
    display: flex;
    align-items: center;
    margin: 0;
    color: #fff;
    margin-right: 12px;
}

.arrowsDirection{
    display: flex;
    flex-direction: row;
}

.arrowsDirection button{
    height: max-content;
    margin-left: 12px;
    background-color: #4777be;
    color: #fff;
}

.lineDeco {
    background-color: #fff;
    border: 2px #fff solid;
    margin: 20px 0 60px 0;
}

.buttonAddContainer{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.addCart{
    visibility: hidden;
}

.cardAddCart:hover{
    .addCart{
        visibility: visible;
    }
}

.titlePage{
    width: max-content;
    color: #fff;
    margin: 0 auto;
}

.productContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 12px;
    width: 90%;
    margin: 0 auto;
    padding: 32px;
    margin-top: 24px;
}

.titleContainer{
    display: flex;
    align-items: center;
}

.bodyProduct{
    display: flex;
    flex-direction: row;
}

.imageContainer{
    width: 150px;
    height: 150px;
    margin: 0 28px;
}

.imageContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 16px;
}

.descriptionContainer{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.descriptionContain{
    margin-top: 28px;
    width: 150px;
}

.quantityContainer{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.quantityContain{
    margin-top: 28px;
    text-align: center;
}

.priceContainer{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.priceContainerNumber{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.subTotalContainer{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}

.subTotal{
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.button{
    margin-top: 40px;
    margin-left: 40px;
}

.clearCartContainer{
    margin: 24px 0;
    display: flex;
    justify-content: end;
    width: 90%;
}

.titleUsers{
    color: #fff;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 28px;
}

.bodyFormContainer{
    margin: 0 auto;
    margin-top: 200px;
}

.container{
    margin-top: 32px;
}

.formContainer{
    margin: 0 auto;
    padding: 28px;
    width: max-content;
    display: flex;
}

.loginTitle{
    text-align: center;
}

.formLogin{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginButton{
    margin-left: 28px;
}

.saludoContainer{ 
    display: flex;
    justify-content: end;
}

.saludoUsuario{
    width: max-content;
    color: #fff;
    font-size: 28px;
    margin-right: 40px;
}