<div class="max-w-lg mx-auto mt-10 p-6 bg-gray-800 shadow-md rounded-lg">
  <h2 class="text-xl font-semibold mb-4">Perfil de Usuario</h2>
  <div class="border-t border-gray-200 pt-4">
    <div class="flex items-center mb-4">
      <div class="ml-4">
        <h3 class="text-lg font-semibold">{{ userInfo.first_name }} {{ userInfo.last_name }}</h3>
        <p class="">{{ userInfo.email }}</p>
      </div>
    </div>
    <div class="mb-4">
      <h4 class="text-lg font-semibold mb-2">Detalles de la Cuenta</h4>
      rol: {{userInfo.role}}
    </div>
    <div class="flex justify-end">
      <a href="#" onclick="dispararAlert()" class="text-blue-500 hover:underline">Editar Perfil</a>
    </div>
  </div>
</div>
<script>
  const dispararAlert = ( ) => {
    alert("Todavia no funciona :p")
  }
</script>